.tabs{
    text-align:center;
    margin:15px 0;
}
.tab-btn{
    background:#16364f;
    border:none;
    padding:10px 20px;
    margin:0 5px;
    border-radius:10px;
    color:white;
    cursor:pointer;
    font-weight:bold;
    transition:0.2s;
}
.tab-btn.active{
    background:#00d4ff;
    color:#0a1622;
}
.tab-btn:hover{
    background:#1c4a67;
}
