body{
    background:#0a1622;
    font-family:Segoe UI,Arial;
    color:white;
    margin:0;
}

header{
    background:#0f2a3d;
    padding:18px;
    text-align:center;
    box-shadow:0 2px 10px rgba(0,0,0,0.5);
}

h1{
    margin:0;
    color:#00d4ff;
}

#matches{
    max-width:900px;
    margin:20px auto;
    padding:10px;
}

.match{
    background:#122b3f;
    margin:15px 0;
    padding:18px;
    border-radius:14px;
    box-shadow:0 4px 14px rgba(0,0,0,.4);
    transition:0.25s;
}

.match:hover{
    transform:scale(1.02);
    background:#16364f;
}

.teams{
    font-size:20px;
    font-weight:bold;
    margin-bottom:10px;
}

.score{
    font-size:18px;
    margin:8px 0;
    color:#9fe8ff;
}

.status{
    font-size:14px;
    padding:6px 10px;
    border-radius:20px;
    display:inline-block;
    margin-top:8px;
}

.live{ background:#e63946; }
.result{ background:#2a9d8f; }
.upcoming{ background:#f4a261; }

/* Tabs CSS */
.tabs{
    text-align:center;
    margin:15px 0;
}
.tab-btn{
    background:#16364f;
    border:none;
    padding:10px 20px;
    margin:0 5px;
    border-radius:10px;
    color:white;
    cursor:pointer;
    font-wei
/* Popup CSS */
.popup{
    display:none;
    position:fixed;
    top:0; left:0;
    width:100%; height:100%;
    background: rgba(0,0,0,0.8);
    z-index:1000;
}

.popup-content{
    background:#0a1622;
    margin:50px auto;
    padding:20px;
    border-radius:14px;
    width:90%;
    max-width:800px;
    color:white;
    overflow-y:auto;
    max-height:80%;
}

.close-btn{
    float:right;
    font-size:28px;
    cursor:pointer;
    color:#e63946;
}

